# Auto detect text files and perform LF normalization
* text=auto

#FMOD line ending requirements start---
Assets/Plugins/FMOD/**/*.bundle text eol=lf
Assets/Plugins/FMOD/**/Info.plist text eol=lf
#FMOD line ending requirements end---